<header>
	<h1>Arcane Surge</h1>
	<p>A Spell API and Library for D&D 5e</p>
</header>

<nav>
	<ul class='container'>
		<li>
			<a href='/'>
				Home Page
			</a>
		</li>

		<li class='dropdown'>
			Sources
			<ul>
				<li>
					<a href='/sources/new'>
						New Source
					</a>
				</li>
				<li>
					<a href='/sources/'>
						Index Sources
					</a>
				</li>
				<li>
					<a href='/sources/json'>
						Index Sources <code>JSON</code>
					</a>
				</li>
			</ul>
		</li>

		<li class='dropdown'>
			Spells
			<ul>
				<li>
					<a href='/spells/new'>
						New Spell
					</a>
				</li>
				<li>
					<a href='/spells/'>
						Index Spells
					</a>
				</li>
				<li>
					<a href='/spells/json'>
						Index Spells <code>JSON</code>
					</a>
				</li>
			</ul>
		</li>
		{{!--
		<li>
			Import
			<ul>
				<li>
					<a href='/imports/new'>
						Import Spells
					</a>
				</li>
				<li>
					<a href='/imports/'>
						Index Imports
					</a>
				</li>
				<li>
					<a href='/imports/json'>
						Index Imports <code>JSON</code>
					</a>
				</li>
			</ul>
		</li> --}}
	</ul>
</nav>
<hr />