<h1>The D&D 5e Spells API</h1>
<ul>
	<li>
		<a href='/'>
			Home Page
		</a>
	</li>
	<li>
		<a href='/sources/new'>
			New Source
		</a>
	</li>
	<li>
		<a href='/sources/index'>
			Index Sources
		</a>
	</li>
	<li>
		<a href='/spells/new'>
			New Spell
		</a>
	</li>
	<li>
		<a href='/spells/index'>
			Index Spells
		</a>
	</li>
</ul>