{{!-- tab-based navigation --}}
<nav id='form-tabs' oninput='changeFormTab()'>
	{{!-- note that tabindex=0 lets you tab over items --}}
	<span>
		<input type='radio' class='nav-tab' name='form-tab' id='form-tab-1' value='section-1' checked />
		<label for='form-tab-1'>
			Basics
		</label>
	</span>

	<span>
		<input type='radio' class='nav-tab' name='form-tab' id='form-tab-2' value='section-2' />
		<label for='form-tab-2'>
			Temporals
		</label>
	</span>

	<span>
		<input type='radio' class='nav-tab' name='form-tab' id='form-tab-3' value='section-3' />
		<label for='form-tab-3'>
			Spacials
		</label>
	</span>

	<span>
		<input type='radio' class='nav-tab' name='form-tab' id='form-tab-4' value='section-4' />
		<label for='form-tab-4'>
			Components
		</label>
	</span>

	<span>
		<input type='radio' class='nav-tab' name='form-tab' id='form-tab-5' value='section-5' />
		<label for='form-tab-5'>
			Body Text
		</label>
	</span>

	<span>
		<input type='radio' class='nav-tab' name='form-tab' id='form-tab-6' value='section-6' />
		<label for='form-tab-6'>
			Availability
		</label>
	</span>

	<span>
		<input type='radio' class='nav-tab' name='form-tab' id='form-tab-7' value='section-7' />
		<label for='form-tab-7'>
			Citations
		</label>
	</span>
</nav>