<h2>Welcome to Arcane Surge!</h2>
<p>First and foremost, please check out these links for important information about this website:</p>
<ul>
	<li><a href='https://github.com/noltron000/INT-1-2_arcane-surge'>GitHub Repository</a></li>
	<li><a href='https://api-beta.open5e.com/'>Open5e API (beta)</a></li>
	<li><a href='http://www.dnd5eapi.co/'>D&amp;D 5e API</a></li>
</ul>