<h2>Create a New Source</h2>

<form action='/sources' method='post'>

	<fieldset>
		<legend>
			Source Data
		</legend>

		<div>
			<label for='name'>
				Name
			</label><br />
			<input type='text' name='name' id='name' />
		</div>

		<div>
			<label for='abbreviation'>
				Abbreviation
			</label><br />
			<input type='text' name='abbreviation' id='abbreviation' />
		</div>

		<div>
			<input type='checkbox' id='official' name='official' checked>
			<label for='official'>
				Official Source
			</label>
		</div>

		<fieldset>
			<legend>
				References
			</legend>
			{{#each source}}
			<div>
				<input type='checkbox' id='{{this._id}}' name='{{this._id}}' value='$reference_on'>
				<label for='{{this._id}}'>{{this.name}}</label>
			</div>
			{{/each}}
		</fieldset>

		<button type='submit'>
			Submit
		</button>
	</fieldset>

</form>