<h2>Create a New Source</h2>

<form action='/sources' method='post'>

	<fieldset>
		<legend>
			Source Data
		</legend>

		<div>
			<label for='name'>
				Name
			</label><br />
			<input type='text' name='name' id='name' />
		</div>

		<div>
			<label for='abbreviation'>
				Abbreviation
			</label><br />
			<input type='text' name='abbreviation' id='abbreviation' />
		</div>

		<div>
			<input type='checkbox' id='official' name='official' checked>
			<label for='official'>
				Official Source
			</label>
		</div>

		<fieldset>
			<legend>
				References
			</legend>

			<div>
				<input type='checkbox' id='huey' name='drone' value='huey' checked>
				<label for='huey'>Player's Handbook</label>
			</div>

			<div>
				<input type='checkbox' id='dewey' name='drone' value='dewey'>
				<label for='dewey'>Xanathar's Guide to Everything</label>
			</div>

			<div>
				<input type='checkbox' id='louie' name='drone' value='louie'>
				<label for='louie'>Elemental Evil Companion</label>
			</div>
		</fieldset>

		<button type='submit'>
			Submit
		</button>
	</fieldset>

</form>