<h2>New Source</h2>

<form action='/sources' method='POST'>
	<div>
		<label for='name'>
			Name
		</label><br />
		<input type='text' name='name' id='name' oninput='updateSlug()' />
	</div>

	<div>
		<label for='slug'>
			Slug
		</label><br />
		<input type='text' name='slug' id='slug' readonly />
	</div>

	<div>
		<label for='abbreviation'>
			Abbreviation
		</label><br />
		<input type='text' name='abbreviation' id='abbreviation' />
		{{!-- abbreviation should only allow [a-z][A-Z] --}}
	</div>

	<div>
		<label for='color'>
			Display Color
		</label><br />
		<input type='color' name='color' id='color' />
	</div>

	<div>
		<label for='official'>
			Official Source
		</label><br />
		<input type='checkbox' name='official' id='official' value='true' />
		{{!-- come up with a better name for this --}}
		{{!-- toggle button would be best for a singular yes/no query --}}
	</div>

	<button type='submit'>
		Submit
	</button>
</form>

<hr />

<h4>every source</h4>
<pre><code>{{EverySource}}</code></pre>

<script src='/js/core.js'></script>
{{!-- figure out if defer or async properties are relevent here --}}