<h2>Edit Spell</h2>

<h4>this spell</h4>
<pre><code>{{ChosenSpell}}</code></pre>

<h4>every spell</h4>
<pre><code>{{EverySpell}}</code></pre>

<h4>every source</h4>
<pre><code>{{EverySource}}</code></pre>