<h2>Create a New Spell</h2>

{{!-- tab-based navigation --}}
<nav id='form-tabs'>
	{{!-- note that tabindex=0 lets you tab over items --}}
	<span>
		<input type='radio' class='nav-tab' name='form-tab' id='form-tab-1' value='form-tab-1' checked />
		<label class='nav-tab' for='nav-tab-1'>
			Basics
		</label>
	</span>

	<span>
		<input type='radio' class='nav-tab' name='form-tab' id='form-tab-2' value='form-tab-2' />
		<label class='nav-tab' for='nav-tab-2'>
			Section
		</label>
	</span>

	<span>
		<input type='radio' class='nav-tab' name='form-tab' id='form-tab-3' value='form-tab-3' />
		<label class='nav-tab' for='nav-tab-3'>
			Section
		</label>
	</span>

	<span>
		<input type='radio' class='nav-tab' name='form-tab' id='form-tab-4' value='form-tab-4' />
		<label class='nav-tab' for='nav-tab-4'>
			Section
		</label>
	</span>

	<span>
		<input type='radio' class='nav-tab' name='form-tab' id='form-tab-5' value='form-tab-5' />
		<label class='nav-tab' for='nav-tab-5'>
			Section
		</label>
	</span>

	<span>
		<input type='radio' class='nav-tab' name='form-tab' id='form-tab-6' value='form-tab-6' />
		<label class='nav-tab' for='nav-tab-6'>
			Section
		</label>
	</span>

	<span>
		<input type='radio' class='nav-tab' name='form-tab' id='form-tab-7' value='form-tab-7' />
		<label class='nav-tab' for='nav-tab-7'>
			Section
		</label>
	</span>
</nav>

{{!-- starting up form tag --}}
<form action='/spells' method='POST'>
	<div>
		{{!-- section 1: basics --}}
		<section>
			<h3>
				Basics
			</h3>

			<div>
				<label for='name'>
					Name
				</label><br />
				<input type='text' name='name' id='name' oninput='updateSlug()' />
			</div>

			<div>
				<label for='slug'>
					Slug
				</label><br />
				<input type='text' name='slug' id='slug' readonly />
			</div>

			<div>
				<label for='level'>
					Level
				</label><br />
				<input type='number' name='level' id='level' min='0' max='9' placeholder='Lv.' />
			</div>

			<div>
				<label for='school'>
					School of Magic
				</label><br />
				<select name='school' id='school'>
					<optgroup label='select a school:'>
						<option disabled hidden selected />
						<option label='abjuration' value='abjuration' />
						<option label='conjuration' value='conjuration' />
						<option label='divination' value='divination' />
						<option label='enchantment' value='enchantment' />
						<option label='evocation' value='evocation' />
						<option label='illusion' value='illusion' />
						<option label='necromancy' value='necromancy' />
						<option label='transmutation' value='transmutation' />
					</optgroup>
				</select>
			</div>
		</section>

	</div>
</form>

<script src='/js/spell-new.js'></script>