<h2>Create a New Spell</h2>

<form action='/spells' method='post'>

	<fieldset>
		<legend>
			Spell Data
		</legend>

		<div>
			<label for='name'>
				Name
			</label><br />
			<input type='text' name='name' id='name' />
		</div>

		<div>
			<label for='level'>
				Level
			</label><br />
			<select id='level'>
				<option hidden='true'></option>
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
				<option>6</option>
				<option>7</option>
				<option>8</option>
				<option>9</option>
			</select>
		</div>

		<div>
			<label for='school'>
				School
			</label><br />
			<select id='school'>
				<option value='' hidden='true'></option>
				<option>abjuration</option>
				<option>conjuration</option>
				<option>divination</option>
				<option>enchantment</option>
				<option>evocation</option>
				<option>illusion</option>
				<option>necromancy</option>
				<option>transmutation</option>
			</select>
		</div>

		<button type='submit'>
			Submit
		</button>
	</fieldset>

</form>