input:disabled, textarea:disabled, input:read-only, textarea:read-only {
	color: #444;
	background-color: #EEE;
	cursor: default;
}

body {
	padding: 50px;
	font-family: 'arial'
}
form {
	display: inline
}